.gym-footer {
    background-color: $brand-color;
    height: 300px;
    padding: 20px;
    color: $black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    ul {
      li {
        margin-bottom: 10px;
        a {
          color: $white;
          text-decoration: none;
        }
      }
    }
}