.gym-gym {
  input:not([type="radio"]),
  select {
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray;
    margin-bottom: 10px;
    color: $black;
    font-size: 16px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
  }

  input {
    :focus {
      outline: none;
    }
  }

  input[type='file'] {
    display: none;
  }

  .btn--small {
    margin-left: 0;
    width: auto;
  }

  .gym-column {
    &__container {
      width: 100%;
      margin: 0;

      @media (min-width: 1024px) {
        width: 75%;
      }
    }
  }

  &__perfil {
    &-background {
      position: relative;
      width: 100%;
      height: 200px;
      background: $brand-color;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;

      input {
        background: $white;
      }

      input,
      p {
        position: absolute;
        bottom: 0;
      }

      p {
        color: $white;
        padding-left: 10px;
      }

      a {
        position: absolute;
        top: 10px;
        right: 10px; 
        text-decoration: none;
        text-decoration: none;
        background: $white;
        color: $black;
        padding: 2px;
        border-radius: 2px;
      }
    }
  }
}