.gym-perfil {
    text-align: center;

    .gym-column {
        &__container {
            width: 97vw;

            @media (min-width: 1024px) {
                    width: 70vw;
            }
        }
    }

    &__personal-info {
        .info {
            display: flex;
            // flex-direction: column;
            align-items: center;
            justify-content: center;

            // @media (min-width: 1024px) {
            //     flex-direction: row;
            //     align-items: center;
            // }

            small {
                display: block;
            }

            img {
                border-radius: 50%;
                width: 15vw;
                height: 15vw;
                margin-right: 10px;
                object-fit: cover;
            }

            .form {
                border: none;

                input {
                    text-align: center;
                }
            }
            
        }
        sup {
          color: red;
        }
    }
}