.gym-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: $gray;
  overflow-y: hidden;
  z-index: 1;
  border-top: 4px solid $brand-color;
  overflow: auto;
  transition: all .3s ease;
  &--open {
    right: 0;
  }
  &--close {
    right: 100vw;
  }
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: $black;
    padding: 10px;
    @media (min-width: 768px) {
        padding: 20px;
    }
  }
  &__close {
    text-decoration: none;
    font-size: 60px;
    color: $black;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  &__message {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center;
  }
  .form {
    border: none;
  }
}