.gym-calendar {

    .gym-column {
        &__container {
            &:first-child {
                width: 100%;

                @media (min-width: 1024px) {
                    width: 30vw;
                }
            }

            &:last-child {
                width: 100%;

                @media (min-width: 1024px) {
                    width: 60vw;
                }
            }

        }
    }
    
    &__week-container {
        display: flex;
        justify-content: space-between;

        * {
            flex-basis: 14%;
            font-size: 12px;

            @media (min-width: 1024px) {             
                font-size: 16px;
            }
        }
    }

    &__days {
        position: relative;
        text-align: center;
        margin: 0 0 10px 0;
        
        a {
          color: $brand-color;
          text-decoration: none;
          transition: all .3s;
          font-size: 1.5em;
          &:hover {
            opacity: 0.5;
          }
        }
    }
}
