.gym-header {
    text-align: center;
    background-color:$brand-color;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 195px;
    padding: 20px;
    color: $white;
    box-shadow: 1px -2px 11px $black;

    &__navigation {
        margin-top: 15px;
    }

    &__items { 
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-between;

        @media (min-width: 1024px) {
            justify-content: center;
        }
    }

    &__item {
        display: block;
        padding: 4px;
        margin-left: 10px;
        font-size: 16px;
        background: $white;
        border-radius: 4px;
        // opacity: 0.9;

        @media (min-width: 1024px) {
            font-size: 20px;
            padding: 10px;
        }

        a {
            color:$black;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                color: $gray;
            }
        }
    }

    a {
        img {
            &:first-child {
                background: $white;
                padding: 5px;
                box-sizing: border-box;
                // opacity: 0.9;
                border-radius: 4px;
                width: 100px;

                @media (min-width: 1024px) {
                    width: 200px;
                }
            }
        }
    }
}

// .gym-header .gym-header__navigation.gym-header__navigation--sticky {
//     opacity: 0;
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     background: $brand-color;
//     z-index: 1;
//     box-shadow: 1px -2px 11px $black;
//     transition: opacity .25s ease-in;

// }

// .gym-header .gym-header__navigation.gym-header__navigation--sticky ul {
//     justify-content: space-around;
// }

// .gym-header .gym-header__navigation.gym-header__navigation--sticky ul li {
//     font-size: 16px;
// }

// @media (min-width: 1024px) {
//     .gym-header .gym-header__navigation.gym-header__navigation--sticky ul {
//         justify-content: center;
//     }

//     .gym-header .gym-header__navigation.gym-header__navigation--sticky ul li {
//         font-size: 20px;
//     }
// }