.gym-clients {
    &__client {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // border: 1px solid $gray;
        // margin-bottom: 10px;
        // background-color: $white;
        // padding:  0 20px;
        // box-sizing: border-box;

        & + .gym-clients__client {
            border-top: 1px solid $gray;
        }

        a {
            display: flex;
        }

        img {
            width: 1.5em;
            height: 1.5em;
            margin-right: 10px;
            border-radius: 50%;
            object-fit: cover;
        }

        h5 {
            small {
                color: $brand-color;
            }
        }

        div {
            display: flex;
        }
    }
}