.gym-exercices {
    &__exercice {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background: $white;
        // border: 1px solid $gray;
        // margin-bottom: 10px;
        // background-color: $white;
        // padding:  0 20px;
        // box-sizing: border-box;

        & + .gym-exercices__exercice {
            border-top: 1px solid $gray;
        }

        img {
            width: 1.5em;
            height: 1.5em;
            margin-right: 10px;
            border-radius: 50px;
        } 

        a {
            display: flex;
        }
    }
}