/* FADE */
.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.fade-exit {
    display: none;
}

.fade-exit.fade-exit-active {
    display: none;
    transition: opacity 800ms ease-in;
}

/* SLIDE */

.slide-down-enter {
    height: 0;
    overflow: hidden;
}

.slide-down-enter.slide-down-enter-active {
    height: 1000px;
    transition: height 1000ms ease-in;
}

.slide-down-exit {
    height: 1000px;
}

.slide-down-exit.slide-down-exit-active {
    height: 0;
    transition: height 800ms ease-in; 
}
