.gym-recipes {
    &__recipe {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background: $white;
        // border: 1px solid $gray;
        // margin-bottom: 10px;
        // background-color: $white;
        // padding:  0 20px;
        // box-sizing: border-box;
        
        & + .gym-recipes__recipe {
            border-top: 1px solid $gray;
        }

        h5 {
            small {
                color: $brand-color;
            }
        }

        img { 
            width: 1.5em;
            height: 1.5em;
            margin-right: 10px;
            border-radius: 50%;
            object-fit: cover;
        }

        a {
            display: flex;
        }
    }

    .gym-modal {

        &__container {
            align-items: flex-start;

            @media (min-width: 1024px) {
                align-items: center;
            }
        }

        &__recipe {
            width: 100%;

            .gym-column {
                align-items: center;
            }
        }
    }
    
    ol li,
    ul li {
        line-height: 1.5;
    }
}