.form {
    background: $white;
    padding: 10px;
    border: 1px solid $gray;
    box-sizing: border-box;
    border-radius: 2px;

    @media (min-width: 768px) {
        padding: 20px;
    }

    &__input-container {
        height: 65px;
        position: relative;

        label {
            position: absolute;
            left: 0;
            // transform: translateY(90%);
            transition: all .3s ease;
            pointer-events: none;
            font-size: .9em;
        }

        input {
            z-index: 1;
            transition: all .3s ease;

            &:hover {
                border-bottom: 1px solid $brand-color;

                & + label {
                    color: $brand-color;
                }
            }

            &:focus {
                & + label {
                    // transform: translateY(-60%);
                    // font-size: .8em;
                }
            } 

            &:valid { 
                & + label {
                    // transform: translateY(-60%);
                    // font-size: .8em;
                }
            }
        }
    }

    input,
    select,
    textarea {
        font-family: 'PT Sans Narrow', sans-serif!important;
        font-size: 18px!important;
        letter-spacing: 0.5px!important;
        color: $brand-color;
    }

    input,
    select {
        padding: 20px 0 0 0;
        width: 100%;
        border: none;
        border-bottom: 1px solid $gray;
        margin-bottom: 10px;
        color: $black;
        font-size: 16px;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        background: transparent;
    }

    textarea { 
        width: 100%;
        border: none;
        border-bottom: 1px solid $gray;
        margin-bottom: 10px;
        margin-right: 10px;
        color: $black;
        font-size: 16px;
    }

    input:focus,
    select:focus,
    textarea:focus {
        outline: none;
    }

    input[type="file"] {
        display: none;
    }

    button {
        width: 35%;
        margin-left: auto;
        display: block;
        border: none;
        // box-shadow: 1px 1px 2px -1px $gray;
        box-shadow: 0px 0px 0px 1px $gray;
        background: $gray;
        color: $black;
        font-size: 16px;
        border-radius: 3px;
        padding: 9px;
        transition: all .3s;
    }

    button:hover {
        background: $white;
    }

    .btn--small {
        margin-left: 0;
        width: auto;
    }
}