html, body {
    margin: 0;
    padding: 0;
    background: $background-color;
}  

.gym-app {
    font-family: 'PT Sans Narrow', sans-serif!important;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.5px;

    &-logo {
        height: 50px;
        
        @media (min-width: 1024px) {
            height: inherit;
        }
    }
}

.gym-content {
    padding: 5px;
    min-height: calc(100vh - 195px);

    @media (min-width: 768px) {
        padding: 20px;
    }
}

h4 {
    // margin: 0 0 10px 0;
    // margin: 0;
    // height: 65px;
    // line-height: 65px;
    //  padding-left: 20px;
    // background-color: $white;
    margin-top: 0;
}

h4, h5 {
    font-size: 1em;
}