/* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
ol, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.2; }

ol, ul {
  list-style: none; }

textarea, input, select {
  background: transparent; }

template {
  display: block !important; }

html, body {
  margin: 0;
  padding: 0;
  background: #fafafa; }

.gym-app {
  font-family: "PT Sans Narrow", sans-serif !important;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.5px; }
  .gym-app-logo {
    height: 50px; }
    @media (min-width: 1024px) {
      .gym-app-logo {
        height: inherit; } }

.gym-content {
  padding: 5px;
  min-height: calc(100vh - 195px); }
  @media (min-width: 768px) {
    .gym-content {
      padding: 20px; } }

h4 {
  margin-top: 0; }

h4, h5 {
  font-size: 1em; }

.form {
  background: #fff;
  padding: 10px;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 2px; }
  @media (min-width: 768px) {
    .form {
      padding: 20px; } }
  .form__input-container {
    height: 65px;
    position: relative; }
    .form__input-container label {
      position: absolute;
      left: 0;
      transition: all .3s ease;
      pointer-events: none;
      font-size: .9em; }
    .form__input-container input {
      z-index: 1;
      transition: all .3s ease; }
      .form__input-container input:hover {
        border-bottom: 1px solid cornflowerblue; }
        .form__input-container input:hover + label {
          color: cornflowerblue; }
  .form input,
  .form select,
  .form textarea {
    font-family: "PT Sans Narrow", sans-serif !important;
    font-size: 18px !important;
    letter-spacing: 0.5px !important;
    color: cornflowerblue; }
  .form input,
  .form select {
    padding: 20px 0 0 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    color: #222;
    font-size: 16px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    background: transparent; }
  .form textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #222;
    font-size: 16px; }
  .form input:focus,
  .form select:focus,
  .form textarea:focus {
    outline: none; }
  .form input[type="file"] {
    display: none; }
  .form button {
    width: 35%;
    margin-left: auto;
    display: block;
    border: none;
    box-shadow: 0px 0px 0px 1px #efefef;
    background: #efefef;
    color: #222;
    font-size: 16px;
    border-radius: 3px;
    padding: 9px;
    transition: all .3s; }
  .form button:hover {
    background: #fff; }
  .form .btn--small {
    margin-left: 0;
    width: auto; }

/* GENERAL */
.gym-header {
  text-align: center;
  background-color: cornflowerblue;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 195px;
  padding: 20px;
  color: #fff;
  box-shadow: 1px -2px 11px #222; }
  .gym-header__navigation {
    margin-top: 15px; }
  .gym-header__items {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between; }
    @media (min-width: 1024px) {
      .gym-header__items {
        justify-content: center; } }
  .gym-header__item {
    display: block;
    padding: 4px;
    margin-left: 10px;
    font-size: 16px;
    background: #fff;
    border-radius: 4px; }
    @media (min-width: 1024px) {
      .gym-header__item {
        font-size: 20px;
        padding: 10px; } }
    .gym-header__item a {
      color: #222;
      text-decoration: none;
      transition: all .3s; }
      .gym-header__item a:hover {
        color: #efefef; }
  .gym-header a img:first-child {
    background: #fff;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100px; }
    @media (min-width: 1024px) {
      .gym-header a img:first-child {
        width: 200px; } }

.gym-footer {
  background-color: cornflowerblue;
  height: 300px;
  padding: 20px;
  color: #222;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 1024px) {
    .gym-footer {
      flex-direction: row; } }
  .gym-footer ul li {
    margin-bottom: 10px; }
    .gym-footer ul li a {
      color: #fff;
      text-decoration: none; }

/* UNIQUE */
.gym-information__items {
  list-style: none;
  padding: 0;
  line-height: 30px; }

/* UTILS */
/* FADE */
.fade-enter {
  opacity: 0.01; }

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in; }

.fade-exit {
  display: none; }

.fade-exit.fade-exit-active {
  display: none;
  transition: opacity 800ms ease-in; }

/* SLIDE */
.slide-down-enter {
  height: 0;
  overflow: hidden; }

.slide-down-enter.slide-down-enter-active {
  height: 1000px;
  transition: height 1000ms ease-in; }

.slide-down-exit {
  height: 1000px; }

.slide-down-exit.slide-down-exit-active {
  height: 0;
  transition: height 800ms ease-in; }

.gym-column {
  display: block; }
  @media (min-width: 1024px) {
    .gym-column {
      display: flex;
      justify-content: space-around;
      flex-wrap: nowrap; }
      .gym-column.center {
        text-align: center; } }
  .gym-column__container {
    width: 100%; }
    @media (min-width: 1024px) {
      .gym-column__container:first-child {
        margin-right: 20px; } }
    .gym-column__container + .gym-column__container {
      margin-top: 5px; }
      @media (min-width: 1024px) {
        .gym-column__container + .gym-column__container {
          margin-top: 0px; } }
    .gym-column__container img {
      width: 100%; }

.gym-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.8; }
  .gym-loader__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 10%; }

.gym-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #efefef;
  overflow-y: hidden;
  z-index: 1;
  border-top: 4px solid cornflowerblue;
  overflow: auto;
  transition: all .3s ease; }
  .gym-modal--open {
    right: 0; }
  .gym-modal--close {
    right: 100vw; }
  .gym-modal__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #222;
    padding: 10px; }
    @media (min-width: 768px) {
      .gym-modal__container {
        padding: 20px; } }
  .gym-modal__close {
    text-decoration: none;
    font-size: 60px;
    color: #222;
    position: absolute;
    top: 20px;
    right: 20px; }
  .gym-modal__message {
    position: absolute;
    bottom: 50px;
    width: 100%;
    text-align: center; }
  .gym-modal .form {
    border: none; }

.gym-slider {
  width: 100%; }
  @media (min-width: 768px) {
    .gym-slider .gym-slider {
      width: 330px; } }
  .gym-slider .slick-next:before,
  .gym-slider .slick-prev:before {
    color: cornflowerblue; }

/* EXCLUSIVE */
.gym-calendar .gym-column__container:first-child {
  width: 100%; }
  @media (min-width: 1024px) {
    .gym-calendar .gym-column__container:first-child {
      width: 30vw; } }

.gym-calendar .gym-column__container:last-child {
  width: 100%; }
  @media (min-width: 1024px) {
    .gym-calendar .gym-column__container:last-child {
      width: 60vw; } }

.gym-calendar__week-container {
  display: flex;
  justify-content: space-between; }
  .gym-calendar__week-container * {
    flex-basis: 14%;
    font-size: 12px; }
    @media (min-width: 1024px) {
      .gym-calendar__week-container * {
        font-size: 16px; } }

.gym-calendar__days {
  position: relative;
  text-align: center;
  margin: 0 0 10px 0; }
  .gym-calendar__days a {
    color: cornflowerblue;
    text-decoration: none;
    transition: all .3s;
    font-size: 1.5em; }
    .gym-calendar__days a:hover {
      opacity: 0.5; }

.gym-clients__client {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .gym-clients__client + .gym-clients__client {
    border-top: 1px solid #efefef; }
  .gym-clients__client a {
    display: flex; }
  .gym-clients__client img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover; }
  .gym-clients__client h5 small {
    color: cornflowerblue; }
  .gym-clients__client div {
    display: flex; }

.gym-contact {
  width: 100%; }
  @media (min-width: 768px) {
    .gym-contact {
      width: 400px; } }
  .gym-contact form textarea {
    width: 100%;
    height: 100px;
    border: none;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #222;
    font-size: 16px; }
  .gym-contact form input {
    width: auto;
    height: 20px; }

.gym-exercices__exercice {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .gym-exercices__exercice + .gym-exercices__exercice {
    border-top: 1px solid #efefef; }
  .gym-exercices__exercice img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
    border-radius: 50px; }
  .gym-exercices__exercice a {
    display: flex; }

.gym-gym input:not([type="radio"]),
.gym-gym select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
  color: #222;
  font-size: 16px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px; }

.gym-gym input :focus {
  outline: none; }

.gym-gym input[type='file'] {
  display: none; }

.gym-gym .btn--small {
  margin-left: 0;
  width: auto; }

.gym-gym .gym-column__container {
  width: 100%;
  margin: 0; }
  @media (min-width: 1024px) {
    .gym-gym .gym-column__container {
      width: 75%; } }

.gym-gym__perfil-background {
  position: relative;
  width: 100%;
  height: 200px;
  background: cornflowerblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }
  .gym-gym__perfil-background input {
    background: #fff; }
  .gym-gym__perfil-background input,
  .gym-gym__perfil-background p {
    position: absolute;
    bottom: 0; }
  .gym-gym__perfil-background p {
    color: #fff;
    padding-left: 10px; }
  .gym-gym__perfil-background a {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    text-decoration: none;
    background: #fff;
    color: #222;
    padding: 2px;
    border-radius: 2px; }

.gym-perfil {
  text-align: center; }
  .gym-perfil .gym-column__container {
    width: 97vw; }
    @media (min-width: 1024px) {
      .gym-perfil .gym-column__container {
        width: 70vw; } }
  .gym-perfil__personal-info .info {
    display: flex;
    align-items: center;
    justify-content: center; }
    .gym-perfil__personal-info .info small {
      display: block; }
    .gym-perfil__personal-info .info img {
      border-radius: 50%;
      width: 15vw;
      height: 15vw;
      margin-right: 10px;
      object-fit: cover; }
    .gym-perfil__personal-info .info .form {
      border: none; }
      .gym-perfil__personal-info .info .form input {
        text-align: center; }
  .gym-perfil__personal-info sup {
    color: red; }

.gym-posts {
  width: 100%; }

.gym-posts .gym-posts__post {
  /* box-shadow: 0px 1px 11px 0px; */ }

.gym-posts .gym-posts__post + .gym-posts__post {
  border-top: 1px solid #efefef;
  margin-top: 27px; }

.gym-posts .gym-posts__post .gym-posts__post-info {
  position: relative;
  display: flex;
  align-items: center; }

.gym-posts .gym-posts__post .gym-posts__post-info img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover; }

.gym-posts .gym-posts__post .gym-posts__post-info span,
.gym-posts .gym-posts__post .gym-posts__post-info .more:last-child {
  position: absolute;
  top: 20px;
  right: 0; }

.gym-posts .gym-posts__post-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%); }

.gym-posts .gym-posts__post-modal ul li {
  list-style: none;
  font-size: 20px;
  cursor: pointer; }

.gym-posts .gym-posts__post-modal ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px; }

.gym-posts .gym-posts__post .gym-posts__post-info + p {
  font-size: 14px;
  border-bottom: 1px solid #efefef;
  margin-top: 0; }

.gym-posts .gym-posts__post .gym-posts__post-info h5 p {
  font-size: .8em;
  margin: 0; }

.gym-posts .gym-posts__post .gym-posts__post-info p a {
  color: cornflowerblue;
  text-decoration: none; }

.gym-posts .gym-posts__post .gym-posts__post-answer {
  display: flex;
  align-items: center; }

.gym-posts .gym-posts__post .gym-posts__post-answer:nth-child(even) {
  /* color: $brand-color;
    text-shadow: 1px 1px 1px black; */ }

.gym-posts .gym-posts__post .gym-posts__post-answer .gym-posts__post-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 4px;
  object-fit: cover; }

.gym-posts .gym-posts__post .gym-posts__post-answer div img,
.gym-posts .gym-posts__post .gym-posts__post-answer .gym-posts__post-image img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 10px;
  border-radius: 50%;
  object-fit: cover; }

.gym-posts .gym-posts__post .gym-posts__post-answer div h4 {
  text-align: center;
  font-size: 13px;
  margin: 0; }

.gym-posts .gym-posts__post .gym-posts__post-answer textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
  margin-right: 10px;
  color: #222;
  font-size: 16px; }

.gym-posts .gym-posts__post .gym-posts__post-answer button {
  width: 75px;
  height: 35px;
  background: url(https://cdn2.iconfinder.com/data/icons/3_Minicons-Free-_Pack/43/check_mark.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: center; }

.gym-posts .gym-posts__post .gym-posts__post-answer button:hover {
  background-color: #efefef; }

.gym-posts .gym-posts__post .gym-posts__post-answer p {
  width: 100%;
  font-size: 14px;
  line-height: 20px; }

.gym-recipes__recipe {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .gym-recipes__recipe + .gym-recipes__recipe {
    border-top: 1px solid #efefef; }
  .gym-recipes__recipe h5 small {
    color: cornflowerblue; }
  .gym-recipes__recipe img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover; }
  .gym-recipes__recipe a {
    display: flex; }

.gym-recipes .gym-modal__container {
  align-items: flex-start; }
  @media (min-width: 1024px) {
    .gym-recipes .gym-modal__container {
      align-items: center; } }

.gym-recipes .gym-modal__recipe {
  width: 100%; }
  .gym-recipes .gym-modal__recipe .gym-column {
    align-items: center; }

.gym-recipes ol li,
.gym-recipes ul li {
  line-height: 1.5; }
