.gym-column {
    display: block;

    @media (min-width: 1024px) {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;

        &.center {
            text-align: center;
        }
    }

    &__container {
        width: 100%;

        &:first-child {
            @media (min-width: 1024px) {
                // width: 45vw;
                margin-right: 20px;
            }
        }

        & + .gym-column__container {
            margin-top: 5px;

            @media (min-width: 1024px) {
                margin-top: 0px;
            }
        }

        img {
            width: 100%;
        }
    }
}