.gym-slider {
    width: 100%;

    @media (min-width: 768px) {
        .gym-slider {
            width: 330px;
        }
    }
    
    .slick-next:before,
    .slick-prev:before {
        color: $brand-color;
    }
}