.gym-contact {
    width: 100%;

    @media (min-width: 768px) {
        width: 400px;
    }

    form {
        textarea { 
            width: 100%;
            height: 100px;
            border: none;
            border-bottom: 1px solid $gray;
            margin-bottom: 10px;
            margin-right: 10px;
            color: $black;
            font-size: 16px;
        }
        input {
            width: auto;
            height: 20px;
        }
    }
}