.gym-posts {
    width: 100%;
}

.gym-posts .gym-posts__post {
    /* box-shadow: 0px 1px 11px 0px; */
    // box-sizing: border-box;
    // background: white;
    // padding: 15px;
    // border: 1px solid $gray;
}

.gym-posts .gym-posts__post  + .gym-posts__post { 
    border-top: 1px solid $gray;
    // box-shadow: 0 -5px 5px -5px $black;
    margin-top: 27px;
}

.gym-posts .gym-posts__post .gym-posts__post-info {
    position: relative;
    display: flex;
    align-items: center;
}

.gym-posts .gym-posts__post .gym-posts__post-info img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.gym-posts .gym-posts__post .gym-posts__post-info span,
.gym-posts .gym-posts__post .gym-posts__post-info .more:last-child {
    position: absolute;
    top: 20px;
    right: 0;
}

.gym-posts .gym-posts__post-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.gym-posts .gym-posts__post-modal ul li {
    list-style: none;
    font-size: 20px;
    cursor: pointer;
}

.gym-posts  .gym-posts__post-modal ul li a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.gym-posts .gym-posts__post .gym-posts__post-info + p {
    font-size: 14px;
    border-bottom: 1px solid $gray;
    margin-top: 0;
}

.gym-posts .gym-posts__post .gym-posts__post-info h5 p {
    font-size: .8em;
    margin: 0;
}

.gym-posts .gym-posts__post .gym-posts__post-info p a {
    color: $brand-color;
    text-decoration: none;
}

.gym-posts .gym-posts__post .gym-posts__post-answer {
    display: flex;
    align-items: center;
}

.gym-posts .gym-posts__post .gym-posts__post-answer:nth-child(even) {
    /* color: $brand-color;
    text-shadow: 1px 1px 1px black; */
}


.gym-posts .gym-posts__post .gym-posts__post-answer .gym-posts__post-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-right: 4px;
    object-fit: cover;
}

.gym-posts .gym-posts__post .gym-posts__post-answer div img,
.gym-posts .gym-posts__post .gym-posts__post-answer .gym-posts__post-image img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
}

.gym-posts .gym-posts__post .gym-posts__post-answer div h4 {
    text-align: center;
    font-size: 13px;
    margin: 0;
}

.gym-posts .gym-posts__post .gym-posts__post-answer textarea { 
    width: 100%;
    border: none;
    border-bottom: 1px solid $gray;
    margin-bottom: 10px;
    margin-right: 10px;
    color: $black;
    font-size: 16px;
}

.gym-posts .gym-posts__post .gym-posts__post-answer button {   
    width: 75px;
    height: 35px;
    background: url(https://cdn2.iconfinder.com/data/icons/3_Minicons-Free-_Pack/43/check_mark.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
}

.gym-posts .gym-posts__post .gym-posts__post-answer button:hover { 
    background-color: $gray;
}

.gym-posts .gym-posts__post .gym-posts__post-answer p { 
    width: 100%;
    font-size: 14px;
    line-height: 20px;
}